<div class="contents__head-title contents__head-title--<%= contentInfo.pos %>">
  <p class="contents__head-title-sub contents__head-title-sub--<%= contentInfo.pos %> contents__head-title-sub--<%= typeof contentInfo.size !== 'undefined' ? contentInfo.size : 'default' %>">
    <%= contentInfo.subTitle %>
  </p>
  <p class="contents__head-title-main"><img src="<%= contentInfo.mainTitle %>" alt="<%= contentInfo.subTitle %>"></p>
</div>